In [5]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [6]:
ser1=Series(np.arange(3),index=list('CAB'))
ser1

C    0
A    1
B    2
dtype: int64

In [7]:
ser1.sort_index()

A    1
B    2
C    0
dtype: int64

In [9]:
ser1.sort_values()

C    0
A    1
B    2
dtype: int64

In [11]:
from numpy.random import randn

In [13]:
ser2=Series(randn(10))
ser2

0    0.496764
1    1.460104
2   -0.250915
3    1.101470
4    0.996422
5    0.561460
6   -0.740842
7   -0.431829
8    0.817567
9    0.126600
dtype: float64

In [15]:
ser2.sort_index()

0    0.496764
1    1.460104
2   -0.250915
3    1.101470
4    0.996422
5    0.561460
6   -0.740842
7   -0.431829
8    0.817567
9    0.126600
dtype: float64

In [16]:
ser2.sort_values()

6   -0.740842
7   -0.431829
2   -0.250915
9    0.126600
0    0.496764
5    0.561460
8    0.817567
4    0.996422
3    1.101470
1    1.460104
dtype: float64

In [17]:
ser2.rank()

0     5.0
1    10.0
2     3.0
3     9.0
4     8.0
5     6.0
6     1.0
7     2.0
8     7.0
9     4.0
dtype: float64

In [36]:
ser3=Series(randn(10))
ser3

0    1.173125
1    0.463082
2   -0.441782
3    0.826002
4    0.625199
5   -0.354159
6    0.711677
7   -1.158284
8    0.337034
9    1.046309
dtype: float64

In [47]:
ser3.sort_values()

7   -1.158284
2   -0.441782
5   -0.354159
8    0.337034
1    0.463082
4    0.625199
6    0.711677
3    0.826002
9    1.046309
0    1.173125
dtype: float64

In [48]:
ser3.sort_values().rank()

7     1.0
2     2.0
5     3.0
8     4.0
1     5.0
4     6.0
6     7.0
3     8.0
9     9.0
0    10.0
dtype: float64