In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [3]:
ser=Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

1  a    0.097269
   b   -1.829495
   c   -0.675081
2  a   -0.654618
   b    0.745025
   c   -0.033256
dtype: float64

In [4]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
ser[1]

a    0.097269
b   -1.829495
c   -0.675081
dtype: float64

In [6]:
ser[2]

a   -0.654618
b    0.745025
c   -0.033256
dtype: float64

In [8]:
ser[:,'a']

1    0.097269
2   -0.654618
dtype: float64

In [11]:
ser

1  a    0.097269
   b   -1.829495
   c   -0.675081
2  a   -0.654618
   b    0.745025
   c   -0.033256
dtype: float64

In [10]:
dframe=ser.unstack()
dframe

          a         b         c
1  0.097269 -1.829495 -0.675081
2 -0.654618  0.745025 -0.033256

In [13]:
dframe2=DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,2,1]],
                 columns=[['BPL','BPL','ITR','GWR'],['hot','cold','cold','hot']])
dframe2

    BPL       ITR GWR
    hot cold cold hot
a 1   0    1    2   3
  2   4    5    6   7
b 2   8    9   10  11
  1  12   13   14  15

In [16]:
dframe2.index.names=['INDEX_1','INDEX_2']
dframe2.columns.names=['CITIES','TEMP']
dframe2

CITIES          BPL       ITR GWR
TEMP            hot cold cold hot
INDEX_1 INDEX_2
a       1         0    1    2   3
        2         4    5    6   7
b       2         8    9   10  11
        1        12   13   14  15

In [20]:
dframe2.swaplevel('CITIES','TEMP',axis=1)

TEMP            hot cold     hot
CITIES          BPL  BPL ITR GWR
INDEX_1 INDEX_2
a       1         0    1   2   3
        2         4    5   6   7
b       2         8    9  10  11
        1        12   13  14  15

In [21]:
dframe2.swaplevel('INDEX_1','INDEX_2')

CITIES          BPL       ITR GWR
TEMP            hot cold cold hot
INDEX_2 INDEX_1
1       a         0    1    2   3
2       a         4    5    6   7
        b         8    9   10  11
1       b        12   13   14  15

In [24]:
dframe2.sort_index(level=1)

CITIES          BPL       ITR GWR
TEMP            hot cold cold hot
INDEX_1 INDEX_2
a       1         0    1    2   3
b       1        12   13   14  15
a       2         4    5    6   7
b       2         8    9   10  11

In [25]:
dframe2.sum(level='TEMP',axis=1)

TEMP             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       2          19   19
        1          27   27

In [26]:
dframe2.sum(level='CITIES',axis=1)

CITIES           BPL  GWR  ITR
INDEX_1 INDEX_2
a       1          1    3    2
        2          9    7    6
b       2         17   11   10
        1         25   15   14

In [27]:
dframe2.sum(level='INDEX_1')

CITIES  BPL       ITR GWR
TEMP    hot cold cold hot
INDEX_1
a         4    6    8  10
b        20   22   24  26

In [28]:
dframe2.sum(level='INDEX_2')

CITIES  BPL       ITR GWR
TEMP    hot cold cold hot
INDEX_2
1        12   14   16  18
2        12   14   16  18