In [3]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

from numpy.random import randn

In [4]:
ser1=Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
ser2=ser1.reindex(['A','B','C','D','E','F'])

In [8]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [13]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [14]:
ser3=Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [17]:
ser3.reindex(range(15))

0        USA
1        NaN
2        NaN
3        NaN
4        NaN
5     Mexico
6        NaN
7        NaN
8        NaN
9        NaN
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [18]:
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [19]:
ser3.reindex(range(15),method='bfill')

0        USA
1     Mexico
2     Mexico
3     Mexico
4     Mexico
5     Mexico
6     Canada
7     Canada
8     Canada
9     Canada
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [20]:
dframe=DataFrame(randn(25).reshape(5,5),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

In [21]:
dframe

       col1      col2      col3      col4      col5
A -0.541578 -0.984139  0.205070 -0.730817  1.151709
B -0.574597 -1.136818  0.305142  0.452488 -0.143710
D -0.472450 -1.011075 -1.528135 -1.046481 -2.166462
E -0.164421  0.526237  3.008034 -0.325390 -1.035326
F  0.424692  2.172482  1.414643 -0.076537 -0.538257

In [22]:
# Since 'C' is missing lets reindex DF
dframe2=dframe.reindex(['A','B','C','D','E','F'])

In [23]:
dframe2

       col1      col2      col3      col4      col5
A -0.541578 -0.984139  0.205070 -0.730817  1.151709
B -0.574597 -1.136818  0.305142  0.452488 -0.143710
C       NaN       NaN       NaN       NaN       NaN
D -0.472450 -1.011075 -1.528135 -1.046481 -2.166462
E -0.164421  0.526237  3.008034 -0.325390 -1.035326
F  0.424692  2.172482  1.414643 -0.076537 -0.538257

In [24]:
new_columns=['col1','col2','col3','col4','col5','col6']

In [25]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.541578 -0.984139  0.205070 -0.730817  1.151709   NaN
B -0.574597 -1.136818  0.305142  0.452488 -0.143710   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.472450 -1.011075 -1.528135 -1.046481 -2.166462   NaN
E -0.164421  0.526237  3.008034 -0.325390 -1.035326   NaN
F  0.424692  2.172482  1.414643 -0.076537 -0.538257   NaN

In [26]:
dframe

       col1      col2      col3      col4      col5
A -0.541578 -0.984139  0.205070 -0.730817  1.151709
B -0.574597 -1.136818  0.305142  0.452488 -0.143710
D -0.472450 -1.011075 -1.528135 -1.046481 -2.166462
E -0.164421  0.526237  3.008034 -0.325390 -1.035326
F  0.424692  2.172482  1.414643 -0.076537 -0.538257

In [27]:
# ix
dframe.ix[['A','B','C','D','E','F'],new_columns]

/Users/mithleshpatel/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

       col1      col2      col3      col4      col5  col6
A -0.541578 -0.984139  0.205070 -0.730817  1.151709   NaN
B -0.574597 -1.136818  0.305142  0.452488 -0.143710   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.472450 -1.011075 -1.528135 -1.046481 -2.166462   NaN
E -0.164421  0.526237  3.008034 -0.325390 -1.035326   NaN
F  0.424692  2.172482  1.414643 -0.076537 -0.538257   NaN